<div class="card">
  <div class="header">
    <div class="author">
      <div class="avatar">{{ initials }}</div>
      <div>
        <div class="name">{{ review.user?.fullName ?? 'Anoniman korisnik' }}</div>
        <div class="date">{{ review.createdAt | dateLocal }}</div>
      </div>
    </div>
    <div class="right">
      <app-star-rating [value]="review.rating" [readonly]="true" />
      @if (showStatus) {
      <app-badge [variant]="statusVariant">{{ statusLabel }}</app-badge>
      }
    </div>
  </div>
  @if (review.comment) {
  <p class="comment">{{ review.comment }}</p>
  }
</div>
