<div class="card" (click)="cardClicked.emit(object)">

  <div class="img-wrap">
    <img class="img"
         [src]="thumbnail"
         [alt]="object.name" />
    <app-badge class="category-badge" variant="info">
      {{ categoryLabel }}
    </app-badge>
  </div>

  <div class="body">
    <div class="top">
      <h4 class="name">{{ object.name }}</h4>
      <app-star-rating [value]="object.averageRating ?? 0"
                       [showValue]="true"
                       [readonly]="true" />
    </div>

    @if (object.destination) {
    <div class="location">&#128205; {{ object.destination.name }}</div>
    }

    @if (object.address) {
    <div class="address">{{ object.address }}</div>
    }

    @if (object.description) {
    <p class="desc">{{ object.description | truncate:100 }}</p>
    }

    @if (object.workingHours) {
    <div class="hours">&#128336; {{ object.workingHours }}</div>
    }

    @if (showActions) {
    <div class="actions" (click)="$event.stopPropagation()">
      <button class="btn-edit"
              (click)="editClicked.emit(object)">
        Izmeni
      </button>
      <button class="btn-delete"
              (click)="deleteClicked.emit(object)">
        Obriši
      </button>
    </div>
    }
  </div>

</div>
