@use 'variables' as *;

.chart-wrap {
  height: 200px;
  position: relative;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.empty {
  padding: 40px;
  text-align: center;
  color: $gray-400;
  font-size: 13px;
}
